*{
      margin: 0;
      padding: 0;
}
body{
      margin: 10px;
      padding: 20px;
      font-family: 'Time New Roman',cursive;
}
.btn {
      display: inline-block;
  padding: 8px 16px;
  margin: 0 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:skyblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    }
    .btn::hover{
      background-color: red;
          }
    button:active {
      background-color: blue;
      box-shadow: 0 5px black;
      transform: translateY(4px);
}
